body{
    font-family: 'Baloo Thambi 2', cursive;
    background: #eacda3;
    background: linear-gradient(to right, #eacda3, #d6ae7b);
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-brand{
    font-size: 30px;
    /* padding-left: 150px; */
}
nav{
    background: #eacda3;
    background: linear-gradient(to right, #eacda3, #d6ae7b);
}
#navbars{
    background: #eacda3;
    background: linear-gradient(to right, #eacda3, #d6ae7b);
}
.container-fluid{
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1{
    margin-top: 20px;
}

/* .navbar{
    padding-bottom: 15px;
    padding-top: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    color: white;
    
} */

.navbar-nav li a:hover{
    color: #1abc9c;
}

.footer-padding{
    padding-bottom: 60px;
}

.footer{
    text-align: center;
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background-color: #343a40;
    margin-bottom: 0px;
    padding-top: 10px;
}

.footer p{
    display: inline;
    font-size: 30px;
    color: #fff;
    font-family: 'Baloo Thambi 2', cursive;
}
